@import './sc-colors.scss';

@font-face {
	font-family: "SC Prosper Sans";
	src: url("https://av.sc.com/sg/YEC21/SCProsperSans-Medium.woff2") format("woff2");
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: "SC Prosper Sans";
	src: url("https://av.sc.com/sg/YEC21/SCProsperSans-Regular.woff2") format("woff2");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html {
	font-family: "SC Prosper Sans", "Arial", "sans-serif" !important;
	width: 100%;
	border: 0px !important;
	height: 100dvh;
	display: flex;
	flex-direction: column;
	align-items: center;
}
body {
	font-family: "SC Prosper Sans", "Arial", "sans-serif" !important;
	width: 100%;
	border: 0px !important;
	height: 100dvh;
	display: flex;
	flex-direction: column;
	align-items: center;
}
button {
	font-family: "SC Prosper Sans", "Arial", "sans-serif" !important;
}
input {
	font-family: "SC Prosper Sans", "Arial", "sans-serif" !important;
}
textarea {
	font-family: "SC Prosper Sans", "Arial", "sans-serif" !important;
}

/* Variable start */
$maxwidth-container: 460px;
$design-width-base: 430px;

// for smaller screen
$smaller-height-lg: 740px;
$smaller-height-sm: 667px;

$design-base-height: 932px;

$breakpoints-width-normal: 93%;
/* Variable end */

/* function & mixin start */
@function responsive-size($px-size, $device-width: $design-width-base) {
  $ratio-value: $px-size / $device-width;
  @return calc(#{$ratio-value} * 100%);
}

@function responsive-font($px-size, $device-width: $design-width-base) {
  $ratio-value: $px-size / $device-width;
  @return calc(#{$ratio-value} * 100vw);
}

@function responsive-height($px-size, $device-height: $design-base-height) {
  $ratio-value: $px-size / $device-height;
  @return calc(#{$ratio-value} * 100vh);
}

// Map of property values by breakpoint
$height-breakpoints-basewidth: (
  $smaller-height-lg: 80%,
    $smaller-height-sm: 79%
    );

  // Multi-property mixin
  @mixin responsive-height-properties($property, $values-map) {
    @each $max-height, $value in $values-map {
      @media screen and (max-height: $max-height) {
        #{$property}: $value;
      }
    }
  }

.sc-year-end-spend-campaign {
	width: 100%;
	min-height: 100dvh;
	font-family: "SC Prosper Sans", "Arial", "sans-serif" !important;
	overflow: hidden;
}

.sc-year-end-spend-polaroid-game {
  width: 100%;
  max-width: $maxwidth-container;
  height: 100%;
  position: relative;
  overflow: hidden;
  scroll-behavior: smooth;
  margin: 0 auto;
  touch-action: none;

  // always visible purpose
      -webkit-overflow-scrolling: touch;

      &::-webkit-scrollbar {
        width: calc(min(4px, #{responsive-font(4px)}));
      }

      &::-webkit-scrollbar-track {
        background: $color-grey-light-31;
      }

      &::-webkit-scrollbar-thumb {
        background-color: $color-black-translucent-3;
        border-radius: 4px;
      }

  &.active-scroll {
    touch-action: auto;
    overflow-y: auto;

    .sc-year-end-spend-polaroid-game__wrapper {
      height: auto;
      background-position: top left;
      background-size: 100%;
      background-repeat: repeat;
      background-image: url(../images/sc-year-end-spend-bg-light-blue.png);
      width: calc(100% + calc(min(4px, #{responsive-font(4px)})));
    }

    .sc-year-end-spend-polaroid-game__pocket .sc-year-end-spend-polaroid-game__pocket-camera img{
      margin-left: calc(min(4px, #{responsive-font(4px)}));
    }
  }

  &__wrapper {
    flex-direction: column;
    display: flex;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
  }

  &__bg-dark-blue,
  &__bg-light-blue {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-position: top left;
  }

  &__bg-dark-blue {
    z-index: 3;
    background-image: url(../images/sc-year-end-spend-bg-dark-blue.png);
    opacity: 1;
    background-size: cover;

    &.dismiss {
      opacity: 0;
      transition: opacity 0.5s;
    }
  }

  &__bg-light-blue {
    z-index: 2;
    background-image: url(../images/sc-year-end-spend-bg-light-blue.png);
    background-size: 100%;
    background-repeat: repeat;
  }

  &__header {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: calc(min(55px, #{responsive-height(55px)}));
    padding-bottom: calc(min(40px, #{responsive-height(40px)}));

    &-title {
      width: calc(min(344px, #{responsive-font(344px)}));
      height: auto;

      img {
        width: 100%;
      }
    }
  }

  &__slider {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 12;

    &-img {
      position: absolute;
      z-index: 13;
      width: calc(min(138px, #{responsive-font(138px)}));
      height: auto; //185px 
      overflow: hidden;
      transform-origin: center center;
      touch-action: none;
      user-select: none;
      -webkit-user-drag: none;

      img {
        width: 100%;
        height: 100%;
        pointer-events: none;
        display: block;
      }
    }
  }

  &__pocket {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 50%) scale(1);
    z-index: 14;
    bottom: -65px;
    pointer-events: none;

    &-camera {
      width: calc(min(488px, #{responsive-font(488px)}));
    }

    img {
      display: block;
      width: 100%;
    }

    .sc-year-end-spend-polaroid-game__dispense-polaroid img {
      position: absolute;
      z-index: 14;
      left: 50%;
      top: 5%;
      transform: translate(-50%, 50%) scale(1);
      width: calc(min(340px, #{responsive-font(340px)}));
    }

    &.active {
      bottom: 50%;
      transform: translate(-50%, 50%) scale(0.6);
      transition: left, bottom, transform, 0.7s ease-in-out 0.5s;

      .sc-year-end-spend-polaroid-game__dispense-polaroid img {
        top: 1300px;
        transform: translate(-50%, 50%) scale(2);
      }

      .sc-year-end-spend-polaroid-game__dispense-polaroid {
        img:nth-child(1) {
          transition: top, transform, 0.5s ease-in-out 2s;
        }
        img:nth-child(2) {
          transition: top, transform, 0.5s ease-in-out 2.2s;
        }
        img:nth-child(3) {
          transition: top, transform, 0.5s ease-in-out 2.4s;
        }
      }

      &.dismiss-card {
        .sc-year-end-spend-polaroid-game__dispense-polaroid img:nth-child(1),
        .sc-year-end-spend-polaroid-game__dispense-polaroid img:nth-child(2),
        .sc-year-end-spend-polaroid-game__dispense-polaroid img:nth-child(3) {
          display: none;
        }
      }
    }

    &-camera-top,
    &-camera-bottom {
      position: relative;
    }

    &-camera-top {
      z-index: 15;
    }

    &-camera-bottom {
      z-index: 13;
      top: -1px;
    }
  }

  &__dispense-polaroid-result {
    position: relative;
    z-index: 3;
    opacity: 0;
    pointer-events: none;
    color: $color-white;
    text-align: center;
    padding: 0 calc(min(18px, #{responsive-font(18px)}));

    &.result-show {
      .sc-year-end-spend-polaroid-game__polaroid-card {
        top: 0;
        opacity: 1;
        transition: top, opacity, 0.5s ease-in-out 2s;

        &:nth-child(2) {
          left: 22%;
          top: -10px;
          transform: translateX(-50%) rotate(-7deg);
          transition: top, transform, 0.5s ease-in-out 3s;
        }
        &:nth-child(3) {
          left: 78%;
          top: -10px;
          transform: translateX(-50%) rotate(7deg);
          transition: top, transform, 0.5s ease-in-out 3s;
        }
      }

      .sc-year-end-spend-polaroid-game__polaroid-card-img::before {
        opacity: 0;
        transition: opacity 0.5s ease-in-out 4s;
      }

      .sc-year-end-spend-polaroid-game__prize-detail {
        opacity: 1;
        transition: opacity 0.5s ease-in-out 4s;
      }
    }
  }

  &__polaroid-card-result {
    position: relative;
    width: 100%;
    top: 30px;
    z-index: 2;
  }

  &__result-title {
    font-size: calc(min(26px, #{responsive-font(26px)}));
    line-height: 1.3;
    font-weight: 500;
    padding-bottom: calc(min(15px, #{responsive-height(15px)}));
  }

  &__polaroid-card {
    background-color: $color-white;
    border-radius: 3px;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
    padding: calc(min(7px, #{responsive-height(7px)})) calc(min(7px, #{responsive-font(7px)})) calc(min(40px, #{responsive-height(40px)}));
    width: calc(min(156px, #{responsive-font(156px)}));
    top: 40px;
    opacity: 0;

    &-img {
      position: relative;
      width: 100%;

      &::before {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 3;
        background-color: $background-color_3;
        top: 0;
        left: 0;
        opacity: 1;
      }

      img {
        width: 100%;
        position: relative;
        z-index: 1;
      }
    }

    &:nth-child(1) {
      position: relative;
      z-index: 2;
      margin: 0 auto;
    }

    &:nth-child(2),
    &:nth-child(3) {
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%) rotate(0);
    }
  }

  &__prize-detail {
    background-color: $color-grey-light-2;
    padding: calc(min(65px, #{responsive-height(65px)})) calc(min(18px, #{responsive-font(18px)})) calc(min(25px, #{responsive-height(25px)}));
    width: 100%;
    border-radius: 10px;
    opacity: 0;
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: calc(min(25px, #{responsive-height(25px)}));
  }

  &__prize-info {
    font-size: calc(min(18px, #{responsive-font(18px)}));
    color: $color-grey-dark-9;
    line-height: 1.3;
  }

  &__line {
    align-self: center;
    width: 100%;
    position: relative;
    border-top: 1px solid $color-grey-dark-9;
  }

  &__action {
    padding: calc(min(20px, #{responsive-height(20px)})) 0 calc(min(40px, #{responsive-height(40px)}));

    &-title {
      font-size: calc(min(20px, #{responsive-font(20px)}));
      line-height: 1.3;
      font-weight: 400;
      padding-bottom: calc(min(15px, #{responsive-height(15px)}));

      .sc-year-end-spend-polaroid-game__card-left-no {
        font-weight: 500;
      }
    }
  }

  &__btn-01 {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: calc(min(10px, #{responsive-height(10px)}));
    border: 0;
    border-radius: 100px;
    background: $color-green-light-14;
    padding: calc(min(20px, #{responsive-height(20px)})) calc(min(28px, #{responsive-font(28px)}));
    font-size: calc(min(20px, #{responsive-font(20px)}));
    line-height: 100%;
    font-weight: 700;
    letter-spacing: 0;
    text-align: center;
    color: $color-white;
  }

  &__btn-02 {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: calc(min(10px, #{responsive-height(10px)}));
    border: 0;
    border-radius: 100px;
    border: 2px solid $color-white;
    background: transparent;
    padding: calc(min(20px, #{responsive-height(20px)})) calc(min(28px, #{responsive-font(28px)}));
    font-size: calc(min(20px, #{responsive-font(20px)}));
    line-height: 100%;
    font-weight: 700;
    letter-spacing: 0;
    text-align: center;
    color: $color-white;
  }

  &__2-btn-row {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: calc(min(10px, #{responsive-height(10px)}));
    padding-bottom: calc(min(15px, #{responsive-height(15px)}));
  }
  #polaroid-game-slider {
    display: none;
  }
}

