@font-face {
  font-family: "SC Prosper Sans";
  src: url("https://av.sc.com/sg/YEC21/SCProsperSans-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "SC Prosper Sans";
  src: url("https://av.sc.com/sg/YEC21/SCProsperSans-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
button,
input,
textarea {
  font-family: "SC Prosper Sans", "Arial", "sans-serif" !important;
}

html,
body {
  width: 100%;
  border: 0px !important;
  height: 100dvh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #333;
}

.sc-year-end-spend-campaign {
  width: 100%;
  min-height: 100dvh;
  font-family: "SC Prosper Sans", "Arial", "sans-serif" !important;
  overflow: hidden;
}

.sc-year-end-spend-polaroid-game {
  width: 100%;
  max-width: 460px;
  height: 100%;
  position: relative;
  overflow: hidden;
  // overflow-y: auto;
  scroll-behavior: smooth;
  margin: 0 auto;
  -webkit-overflow-scrolling: touch;
  touch-action: none;
}

.sc-year-end-spend-polaroid-game__wrapper {
  flex-direction: column;
  display: flex;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
}

.sc-year-end-spend-polaroid-game__header {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-top: min(60px, calc(0.065 * 100vh));
  padding-bottom: min(40px, calc(0.043 * 100vh));
}

.sc-year-end-spend-polaroid-game__header-title {
  width: min(344px, calc(0.80 * 100vw));
  height: auto;
}

.sc-year-end-spend-polaroid-game__header-title img {
  width: 100%;
}

.sc-year-end-spend-polaroid-game__slider {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 12;
}

.sc-year-end-spend-polaroid-game__slider-img {
  position: absolute;
  z-index: 13;
  width: 138px;
  height: 185px;
  overflow: hidden;
  transform-origin: center center;
  touch-action: none;
  user-select: none;
  -webkit-user-drag: none;

  img {
    width: 100%;
    height: 100%;
    pointer-events: none;
    display: block;
  }
}

.sc-year-end-spend-polaroid-game__pocket {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 50%) scale(1.0);
  z-index: 14;
  bottom: -65px;
  pointer-events: none;

  .sc-year-end-spend-polaroid-game__pocket-camera {
    width: min(488px, calc(1.13 * 100vw));
  }

  img {
    display: block;
    width: 100%;
  }

  .sc-year-end-spend-polaroid-game__dispense-polaroid img {
    position: absolute;
    z-index: 14;
    left: 50%;
    top: 5%;
    transform: translate(-50%, 50%) scale(1.0);
    width: 340px;
  }

  &.active {
    bottom: 50%;
    transform: translate(-50%, 50%) scale(0.6);
    transition: top, bottom, transform, 0.7s ease-in-out 0.5s;

    .sc-year-end-spend-polaroid-game__dispense-polaroid img {
      top: 1300px;
      transform: translate(-50%, 50%) scale(2.0);
    }
    .sc-year-end-spend-polaroid-game__dispense-polaroid img:nth-child(1) {
      transition: top, transform, 0.5s ease-in-out 2s;
    }
    .sc-year-end-spend-polaroid-game__dispense-polaroid img:nth-child(2) {
      transition: top, transform, 0.5s ease-in-out 2.2s;
    }
    .sc-year-end-spend-polaroid-game__dispense-polaroid img:nth-child(3) {
      transition: top, transform, 0.5s ease-in-out 2.4s;
    }
  }

  .sc-year-end-spend-polaroid-game__pocket-camera-top,
  .sc-year-end-spend-polaroid-game__pocket-camera-bottom {
    position: relative;
  }
  .sc-year-end-spend-polaroid-game__pocket-camera-top {
    z-index: 15;
  }
  .sc-year-end-spend-polaroid-game__pocket-camera-bottom {
    z-index: 13;
    top: -1px;
  }
}

.sc-year-end-spend-polaroid-game__bg-dark-blue,
.sc-year-end-spend-polaroid-game__bg-light-blue {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-position: top left;
  background-size: cover;
}

.sc-year-end-spend-polaroid-game__bg-dark-blue {
  z-index: 3;
  background-image: url("/images/sc-year-end-spend-bg-dark-blue.png");
  opacity: 1;
}

.sc-year-end-spend-polaroid-game__bg-light-blue {
  z-index: 2;
  background-image: url("/images/sc-year-end-spend-bg-light-blue.png");
}

.sc-year-end-spend-polaroid-game__bg-dark-blue.dismiss {
  opacity: 0;
  transition: opacity 0.5s;
}

.sc-year-end-spend-polaroid-game__dispense-polaroid-result {
  position: relative;
  z-index: 3;
  opacity: 0;
  pointer-events: none;
  color: #fff;
  text-align: center;
  font-size: 24px;
}

.sc-year-end-spend-polaroid-game__polaroid-card-result {
  position: relative;
  width: 100%;
  top: 30px;
}

.sc-year-end-spend-polaroid-game__polaroid-card {
  background-color: #fff;
  border-radius: 3px;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
  padding: 7px;
  width: min(156px, calc(0.2930232558 * 100vw));
  top: 40px;
  opacity: 0;
}

.sc-year-end-spend-polaroid-game__polaroid-card-img {
  position: relative;
  width: 100%;

  &::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
    background-color: #020B43;
    top: 0;
    left: 0;
    opacity: 1;
  }

  img {
    width: 100%;
    position: relative;
    z-index: 1;
  }
}

.sc-year-end-spend-polaroid-game__polaroid-card:nth-child(1) {
  position: relative;
  z-index: 2;
  margin: 0 auto;
}

.sc-year-end-spend-polaroid-game__polaroid-card:nth-child(2),
.sc-year-end-spend-polaroid-game__polaroid-card:nth-child(3) {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%) rotate(0);
}

.sc-year-end-spend-polaroid-game__dispense-polaroid-result.result-show .sc-year-end-spend-polaroid-game__polaroid-card {
  top: 0;
  opacity: 1;
  transition: top, opacity, 0.5s ease-in-out 2s;
}

.sc-year-end-spend-polaroid-game__dispense-polaroid-result.result-show .sc-year-end-spend-polaroid-game__polaroid-card:nth-child(2) {
  left: 25%;
  top: 0px;
  transform: translateX(-50%) rotate(-20deg);
  transition: top, transform, 0.5s ease-in-out 3s;
}

.sc-year-end-spend-polaroid-game__dispense-polaroid-result.result-show .sc-year-end-spend-polaroid-game__polaroid-card:nth-child(3) {
  left: 75%;
  top: 0px;
  transform: translateX(-50%) rotate(20deg);
  transition: top, transform, 0.5s ease-in-out 3s;
}

.sc-year-end-spend-polaroid-game__dispense-polaroid-result.result-show .sc-year-end-spend-polaroid-game__polaroid-card-img::before {
  opacity: 0;
  transition: opacity 0.5s ease-in-out 4s;
}
